@page "/"

<PageTitle>Index</PageTitle>


<h1>Top Gun Lab Homework</h1>


SPA CRUD webpage created with Blazor WebAssembly & SQL Server
<br>
<a href="https://github.com/dangoth/blazor-crud">GitHub repo</a>
